body{
    margin: 0px;
    font-size: 20px;
}

nav #menu{
    display:flex;
    list-style-type: none;
    background-color: rgba(48,48,48,1);
    margin: 0px;
    padding: 5px;
}

nav #menu .nav-item:hover{
    background-color: rgba(255,255,255,0.1);
}

nav #menu .nav-item{
    padding: 15px;
} 

nav #menu .nav-item a{
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

nav #menu .nav-item .logo{
    width: 25px;
}

.block{
    padding: 5% 10% 5% 10%;
    font-size: 1.1em;
}

.block-light{
    background-color: white;
    color: #303030;
}

.block-dark{
    background: linear-gradient(#d32f2f, #e44F4F);
    color: white;
}

#presentation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#presentation .logo{
    width: 30%;
}

#presentation .content{
    width: 60%;
}

#presentation .content .title{

}